<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GesCom</a>
    <div class="d-grid gap-2 d-md-block">
      <button routerLink="categories" type="button" class="btn btn-outline-primary btn-sm mx-2">Categories</button>
      <button routerLink="articles" type="button" class="btn btn-outline-primary btn-sm">Articles</button>
      <button type="button" class="btn btn-outline-danger btn-sm mx-2">Deconnexion</button>
    </div>  
  </div>
  
  
  
</nav>
 <router-outlet></router-outlet>